<!-- index.php -->
$context['categories'] = Timber::get_terms('category', array('parent' => 0));
Timber::render('index.twig', $context);

<!-- index.twig -->
<nav class="categories">
	<ul class="cat-list">
		{% for cat in categories %}
	    <li><a href="{{cat.link}}">{{cat.name}}</a>
	    {% if cat.children %}
		    <ul class="cat-list-children">
	        {% for child in cat.children %}
	          <li><a href="{{child.link}}">{{child.name}}</a></li>
	        {% endfor %}
		    </ul>
	    {% endif %}
	    </li>
		{% endfor %}
	</ul>
</nav>