{% extends "base.twig" %}

<!-- This block must also appear (albeit blank) in base.twig OR Just place this in base.twig if appearing on every page -->
{% block background %}
	<div class="background" style="background:url({{post.thumbnail}}) no-repeat; background-size:cover; background-position:center center;"></div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}

<!-- STYLES -->
.background {
	position:fixed;
	width:100%;
	height:100vh;
	z-index:-9999;	
}