{% extends "base.twig" %}

{% block background %}
	<div class="background">
		{% for item in post.get_field('bg_slider') %}
  		<div class="item slide" style="background:url({{TimberImage(item.image).src}}) no-repeat; background-size:cover; background-position:center center;"></div>
		{% endfor %}
	</div>
	
	<script>
		$(document).ready(function(){
		  $('.background').slick({
		  infinite: true,
		  speed: 1000,
		  fade: true,
		  cssEase: 'linear',
		  autoplay:true,
		  arrows:false
		  });
		});
	</script>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<div class="relative">
			<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
				<section class="article-content">
					<div class="article-body">
						{{post.content}}
					</div>
				</section>

			</article>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}