$filter-bg: red;

.btn-hover-img {
	background:$filter-bg;
	display:inline-block;
	position:relative;
	@include transition(all 0.3s ease-in-out);
	&:after {
		width:10px;
		height:10px;
		background: yellow;
		content:"";
		position:absolute;
		right:0;
		opacity:0;
		@include transition(all 0.3s ease-in-out);
	}
	&:hover {
		cursor:pointer;
		background:lighten($filter-bg, 20%);
		&:after {
			opacity:1;
		}
	}
}