//////////////////
//////////////////
////  //      ////
////  ////////////
////  //      ////
////  ////////////
////          ////
//////////////////
//////////////////

// Copyright Liquid Engine Ltd- https://liquidengine.com


// OVERLAYER
// Create multiple overlaying images without body scrolling

#slide01, #slide03, #slide05 {
  background-color: #FFFFFF; 
}

#slide00, #slide02, #slide04 {
  background-color: #EDEDED; 
}

.slide {
  position: relative;
  overflow: hidden;
  height: 100vh; 
}
    .slide .pin-wrapper {
        width: 100%;
        height: 100%;
    }
    .slide .wrapper {
        position: absolute;
        top: 45%;
        left: 50%; 
    }
    .slide .img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 700px;
        height: 418px;
        background: url(../img/img_macbook01.png) no-repeat top left;
        transform: translate(-80%, -40%); 
    }

#slide02 .img {
  background-image: url(../img/img_macbook02.png);}

#slide03 .img {
  background-image: url(../img/img_macbook01.png);}

#slide04 .img {
  background-image: url(../img/img_macbook02.png);}

/* =Footer */
.footer-container {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #06060d; 
}
.footer-container .wrapper {
    width: 80%;
    max-width: none;
    margin: 0 10%; 
}
.footer-container h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal; 
}
.footer-container a {
    color: rgba(255, 255, 255, 0.5); 
}



// $overlayer-height: 800px;

// .overlayer {
// 	border:1px purple solid;
// 	// height: $overlayer-height*3 !important;	
// 	height: 4000px !important;	
// 	width:100%;
// 	position:relative;
// }

	
// // .overlayer-copy {
// // 	position:fixed;
// // 	width:50%;
// // 	height:900px;
// // }
// .overlayer-slides {}

// .overlayer.skrollable-before {
// 	.overlayer-slide {
// 		position:absolute;
// 	}
// }

// .overlayer.skrollable-between {
// 	.overlayer-slide {
// 		position:fixed;
// 	}
// }

// .overlayer.skrollable-after {
// 	.overlayer-slide {
// 		position:absolute;
// 		&:nth-child(5) {
// 			top:3200px;
// 		}
// 	}
// }


// .overlayer-slide {
// 	width:100%;
// 	height:$overlayer-height;
	
// 	overflow:hidden;
// 	top:0;
// 	left:0;
// 	// background:url(../../assets/images/overlayer/image-1.png);
// 	&:nth-child(2) {
		
// 	}
// 	&:nth-child(3) {
		
// 	}
// 	img {
// 		position:absolute;
// 		display:block;
// 		height:800px;
// 		top:0;
// 		left:0;
// 		width:auto;
// 		height:100%;
// 		vertical-align:middle;
// 		object-fit:cover;
// 	}
// }
