.banner {
	$slider-height-xs: 300px;
	$slider-height-sm: 400px;
	$slider-height-md: 500px;
	width:100%;
	@include clearfix;
	// transition: all 1s ease;		
	// overflow:hidden;
	height:$slider-height-xs;
	@include bp(sm) {
		height:$slider-height-sm;
	}
	@include bp(md) {
		height:$slider-height-md;
	}
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	.banner-text {
		margin-top: 50px;
		bottom:100px;
		width:100%;
		color:white;
		h1 {
			color:inherit;
			font-size:6rem;
		}
		h2 {
			color:inherit;
		}
	}
}