.gallery {
	@include clearfix;
	width:100%;
	.gallery-item {	
	  width:100%;
	  float:left;
	  position: relative;
	  overflow: hidden;
	  padding-bottom: 67%; // Change aspect ratio of image
	  @include bp(sm) {
	  	width:50%;
	  	padding-bottom: 34%;
	  }
	  @include bp(md) {
	  	width:25%;
	  	padding-bottom: 17%;
	  }
	  img {
	  	position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		  transform:scale(1.05);
	    transition:all 1s;
	  }
	  a {
	  	&:hover {
				img {
			  	transform:scale(1.10);
			  }
			  .overlay {
		  		opacity:0.7;
		  	}
			  .gallery-item-text {
			  	transform:translateY(0px);
		    	opacity:0.9;
			  }	
			}
	  }
  }
	.overlay {
		position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $color-primary url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    transition:all 0.6s;
	}
	.gallery-item-text {
    padding:0 30px;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    top:40%;
    color:white;
    opacity:0;
    transform:translateY(-20px);
    transition:all .3s;
	}
}

.gallery-border {
	.gallery-item {
		border-width:2px;
		border-style:solid;
		border-color: white;
	}
}

.gallery-mixitup {
	.mix{
    display: none;
	}
}