//////////////////
//////////////////
////  //      ////
////  ////////////
////  //      ////
////  ////////////
////          ////
//////////////////
//////////////////

// Copyright Liquid Engine Ltd - https://liquidengine.com 

.introcontent {
	border:1px blue solid;
	height:100%;
	width:200px;
}

.spacer {
	height:800px;
}

.scroll-fade-in {
	position:relative;
	background:white;
}

.card-intro {
	width:100%;
	background:#bbb;
	height:500px;
	border:1px red solid;
	position:relative;
}

.card-scroll {
	background:red;
	width:300px;
	height:300px;
	margin-bottom: 40px;
	color:white;
	opacity:0;
	// transform: translateY(50px);
	transition: all 1s ease-out;
}
.card-scroll.fade-in {
	opacity:1;
}

// Parallax

