//////////////////
//////////////////
////  //      ////
////  ////////////
////  //      ////
////  ////////////
////          ////
//////////////////
//////////////////

// Copyright Liquid Engine Ltd- https://liquidengine.com


// OVERLAYER
// Create multiple overlaying images without body scrolling (liquidengine home page 2017) - Uses skrollr

$overlayer-height: 800px;

.overlayer {
	border:1px purple solid;
	// height: $overlayer-height*3 !important;	
	height: 4000px !important;	
	width:100%;
	position:relative;
}

	
// .overlayer-copy {
// 	position:fixed;
// 	width:50%;
// 	height:900px;
// }
.overlayer-slides {}

.overlayer.skrollable-before {
	.overlayer-slide {
		position:absolute;
	}
}

.overlayer.skrollable-between {
	.overlayer-slide {
		position:fixed;
	}
}

.overlayer.skrollable-after {
	.overlayer-slide {
		position:absolute;
		&:nth-child(5) {
			top:3200px;
		}
	}
}


.overlayer-slide {
	width:100%;
	height:$overlayer-height;
	
	overflow:hidden;
	top:0;
	left:0;
	// background:url(../../assets/images/overlayer/image-1.png);
	&:nth-child(2) {
		
	}
	&:nth-child(3) {
		
	}
	img {
		position:absolute;
		display:block;
		height:800px;
		top:0;
		left:0;
		width:auto;
		height:100%;
		vertical-align:middle;
		object-fit:cover;
	}
}
