.slider {
	$slider-height-xs: 300px;
	$slider-height-sm: 400px;
	$slider-height-md: 700px;
	.slide {
		// transition: all 1s ease;		
		// overflow:hidden;
		height:$slider-height-xs;
		@include bp(sm) {
			height:$slider-height-sm;
		}
		@include bp(md) {
			height:$slider-height-md;
		}
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;
		.banner-text {
			position:absolute;
			bottom:100px;
			width:100%;
			color:white;
			h1 {
				color:inherit;
				font-size:12rem;
			}
			h2 {
				color:inherit;
			}
		}
	}
}

.slider-full-screen {
$slider-height-xs: 100vh;
$slider-height-sm: 100vh;
$slider-height-md: 100vh;
	.slide {
		position:relative;
		height:$slider-height-xs;
		@include bp(sm) {
			height:$slider-height-sm;
		}
		@include bp(md) {
			height:$slider-height-md;
		}
		.banner-text {
		}
	}
}

.slider-animate {
	@keyframes kenburns { 
    from { transform: scale(1.0,1.0); transform-origin: 50% 50%; } 
    to { transform: scale(1.3,1.3); transform-origin: 50% 0%; }
	}
	.slide {
		position:relative;
		background-size: auto 100%;
		animation: kenburns 8s 1 ease-in-out;;
	}
}

// Nav dots
.slick-dots {
	bottom:0px;
	li {
		width:4px;
		button {
			&:before {
				font-size: 30px;
				color:rgba(255,255,255,0.5);
				opacity:1;
			}
		}
		&.slick-active {
			button {
				&:before {
					color:white;
					opacity:1;
				}
			}
		}
	}
}



// //// TO test Ken Burns

// .myBg { background-color: #CCCCCC; }
// .myKenburns .slick-slider { overflow: hidden; margin-top: 1.5rem;}
// .myKenburns .slick-slider div.slick-active img {
//     -webkit-animation: myMove 8s 1 ease-in-out;  
//     -moz-animation: myMove 8s 1 ease-in-out;  
//     -o-animation: myMove 8s 1 ease-in-out;  
//     -ms-animation: myMove 8s 1 ease-in-out;  
//     animation: myMove 8s 1 ease-in-out; }

// .myKenburns .slick-slide[aria-hidden="true"] img {
//     visibility: hidden; }

// @keyframes myMove { 
//     from { transform: scale(1.0,1.0); transform-origin: 50% 50%; } 
//     to { transform: scale(1.3,1.3); transform-origin: 50% 0%; }
// }
// @-webkit-keyframes myMove { 
//     from { -webkit-transform: scale(1.0,1.0); -webkit-transform-origin: 50% 50%; } 
//     to { -webkit-transform: scale(1.3,1.3); -webkit-transform-origin: 50% 0%;  }
// }
// @-o-keyframes myMove { 
//     from { -o-transform: scale(1.0,1.0); -o-transform-origin: 50% 50%; } 
//     to { -o-transform: scale(1.3,1.3); -o-transform-origin: 50% 0%;  }
// }
// @-moz-keyframes myMove { 
//     from { -moz-transform: scale(1.0,1.0); -moz-transform-origin: 50% 50%; } 
//     to { -moz-transform: scale(1.3,1.3); -moz-transform-origin: 50% 0%; }
// }
// @-ms-keyframes myMove { 
//     from { -ms-transform: scale(1.0,1.0); -ms-transform-origin: 50% 50%; } 
//     to { -ms-transform: scale(1.3,1.3); -ms-transform-origin: 50% 0%; }
// }