#slide01, #slide03, #slide05 {
  background-color: #FFFFFF; 
}

#slide00, #slide02, #slide04 {
  background-color: #EDEDED; 
}

.slide {
  position: relative;
  overflow: hidden;
  height: 100vh; 
  // border: 4px blue solid;
}
.slide .pin-wrapper {
    width: 100%;
    height: 100%;
    // border: 4px red solid;
}
.slide .wrapper {
    position: absolute;
    top: 45%;
    left: 50%; 
    // border: 4px yellow solid;
}
.slide .img {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 700px;
    height: 418px;
    background: url(../../assets/images/overlayer/img_macbook01.png) no-repeat top left;
    // transform: translate(-80%, -40%); 
}

#slide02 .img {
  background-image: url(../../assets/images/overlayer/img_macbook02.png);}

#slide03 .img {
  background-image: url(../../assets/images/overlayer/img_macbook01.png);}

#slide04 .img {
  background-image: url(../../assets/images/overlayer/img_macbook02.png);}

#slide02 .pin-wrapper {
    transform: translateY(-100%);
}
#slide03 .pin-wrapper {
    transform: translateY(-200%);
}
#slide04 .pin-wrapper {
    transform: translateY(-300%);
}
.scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
}