//////////////////
//////////////////
////  //      ////
////  ////////////
////  //      ////
////  ////////////
////          ////
//////////////////
//////////////////

// Copyright Liquid Engine Ltd - https://liquidengine.com 

// BREAKPOINTS 
	// @include bp(sm) {}
	// @include bp(md) {}
	// @include bp(lg) {}
	// @include bp(xl) {}	

// TRANSITIONS
	// @include transition(all 0.3s ease-in-out);

// DARKEN/LIGHTEN
	// color:darken($color-primary, 20%);

// BEM (Block element modifier)
// eg:
// .person (header, container, menu, checkbox, input)
// .person__head (menu item, list item, checkbox caption, header title)
// .person--tall (disabled, highlighted, checked, fixed, size big, color yellow)

// 	background:url('../../assets/images/icons/astronomy.png') no-repeat center center;

// UTILITY
// HEADER
// CONTENT
// FOOTER

/////////////////
//// UTILITY ////
/////////////////

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

////////////////
//// HEADER ////
////////////////

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .5s ease-in-out;}
.headroom--unpinned {top: -80px;} //height of navbar usually
.headroom--pinned {top: 0;}

.masthead {
	margin-top: 100px;
}

/////////////////
//// CONTENT ////
/////////////////
.card {
	padding:60px 0;
}



// NINJA FORMS
.nf-form-wrap {
	@extend .container;
	nf-field {
		@extend .col-md-4;
	}
	// OPTIONAL following was for a centralised button
	nf-field:nth-child(4) {
		@extend .col-md-offset-4;
		input {
			width:100%;
		}
	}
	.nf-error {
		input {
			border:2px solid #ff6e6e;
		}
	}
	.nf-error-msg {
		color:white;
	}
}

////////////////
//// FOOTER ////
////////////////
footer {
	
}

footer .le-clear {
	text-align: center;
	-webkit-appearance:none;
	p.copyright {
		font-size: 0.8rem;
	}
	img.le-logo {
		width:230px;
	}
}

footer .le-dark {
	text-align: center;
	-webkit-appearance:none;
	color:white;
	p.copyright {
		font-size: 0.8rem;
	}
	img.le-logo {
		width:230px;
	}
}