//////////////////
//////////////////
////  //      ////
////  ////////////
////  //      ////
////  ////////////
////          ////
//////////////////
//////////////////

// Copyright Liquid Engine Ltd - https://liquidengine.com 


// PARALLAX
// FEATURED


// PARALLAX

.parallax {
	padding:150px 0;
	color:#fff;
	background-color: #000;
	text-align: center;
	position:relative;
	overflow: hidden;
	h1 {
		color:white;
	}
	.parallax-bg {
		background: url(../../assets/images/slider/climbing1.jpg) no-repeat;
		background-size: cover;
		position:absolute;
		width:100%;
		height:170%; // ensure this matches the js offset
		top:0;
		z-index:1;
		opacity:0.5;
	}
	.parallax-content {
		width:90%;
		margin:0 auto;
		max-width:1140px;
		position:relative;
		z-index:2;
	}
}

// FEATURED

.featured {
	height:400px;
	.featured-item {
		padding:20px;
		width:25%;
		float:left;
	}
}