@mixin bp($point) {
  @if $point == lg {
    @media (min-width: 1200px) { @content; }
  }
  // @else if $point == xl {
  //   @media (min-width: 75em) { @content; }
  // }
  @else if $point == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == sm {
    @media (min-width:768px)  { @content; }
  }
  @else if $point == xs {
    @media (max-width:767px)  { @content; } 
  }
}


@mixin transition($transition...) {
  $prefixes:      ("-webkit-", "" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

// FONT SIZE IN REM (FALLBACK TO PIXEL)
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 1) * 1px;
  font-size: ($sizeValue / 16) * 1rem;
}


// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}
