// 1. NAVBAR
// 2. 

// 8. SIDR

// NAVBAR /////////////////////////////////////////////////////


$navbar-height:80px;
$navbar-bg:#373737;
$navbar-link-color:rgba(white, 1);
$navbar-link-hover:rgba(white, 1);
$navbar-bg-hover:rgba(white, 0.1);

nav.navbar {
	width:100%;
  z-index:9999;
	@include clearfix;
	ul {
		background: $navbar-bg; 
		min-height: $navbar-height;
		line-height: $navbar-height;
		list-style: none;		
		margin:0;
		padding:0;
		position:relative;
		margin:0 auto;
		li {
			float:left;
			position: relative;
			a {
				display:block;
				padding:0 20px;
				color: $navbar-link-color;
				text-decoration: none;
				&:hover, &:active {
					color:darken($navbar-link-color, 20%);
					background: $navbar-bg-hover;
					cursor:pointer;
				}
			}
			// submenu - Level 1
			&.menu-item-has-children {
				> ul {
					display:none;
					position:absolute;
				}
				&:hover > ul {
					display:block;
					li {
						width:100%;
						background: $navbar-bg;
						a {
							white-space: nowrap;
						}
					}
				}
			}
			// submenu - deeper levels
			.sub-menu ul{
				top:0;
			  left:100%;
			}
		}		
	}
}


// navbar-social ///////////////////////////////////////////////////////

nav.navbar-social ul {
  position:absolute;
  right:20px;
  bottom:-4px;
  z-index:9999;
  li {
    float:right;
    margin-right:10px;
    font-size: 1.6rem;
    a {
      color:white;
    }
    span {
      display: none;
    }
  }
}

// WIth images
nav.navbar-social ul {
  li {
    border:green 1px solid;
    background-position: center center;
    a {
      opacity:0;
      display:block;
      height: 80px;
      width:80px;
    }
    &.linkedin {
      background:url('../../assets/images/icons/social/linkedin.svg') no-repeat center bottom;
    }
    &.facebook {
      background:url('../../assets/images/icons/social/facebook.svg') no-repeat center bottom;
    }
    &.twitter {
      background:url('../../assets/images/icons/social/twitter.svg') no-repeat center bottom;
    }
  }
}

/////////////////////////////////////////////////////
/////////////////// .navbar.sidr ////////////////////
/////////////////////////////////////////////////////
.toggle {
	position:absolute;
	display:block;
	top:28px;
	right:30px;
	z-index: 9999;
	height:40px;
	width:40px;
}

$toggle-width: 300px;

// Togglemenu
body.push {
  margin-left:$toggle-width
}

.nav--toggle {
    width: 0;
    height: 100%;
    position: fixed;
    overflow: hidden;
    left:0;
    top:0;
    bottom:0;
    transition: .32s ease-out;
    z-index: 2;
    background: #eee;
    ul {
      display:none;
    }
    &.toggle {
      width:$toggle-width;
      ul {
        display:block;
      }
    }
}

.nav--toggle ul { 
  list-style: none;   
  margin:0;
  padding:0;
  position:relative;
  margin:0 auto;
  li {
    a {
      display:block;
      padding: 20px;
      color: $black;
      text-decoration: none;
      &:hover, &:active {
        cursor:pointer;
      }
    }
    // submenu - Level 1
    &.menu-item-has-children {
      position:relative;
      &:after {
        position:absolute;
        right:0;
        top:0;
        top:50%;
        display:block;
        content:"";
        height:10px;
        width:10px;
        background:yellow;
      }
      > ul {
        display:none;
      }
      &:hover > ul {
        display:block;
        li {
          width:100%;
          a {
            white-space: nowrap;
          }
        }
      }
    }
    // submenu - deeper levels
    .sub-menu ul{
      
    
    }
  }   
}

// .1nav {
//     padding-left: 360px;
//     overflow: hidden;
//     position: absolute;
//     transition: .3s ease-out;
//     top: 80px;
//     left: 0;
//     width: 100%;
//     opacity: 0;
//     height: 100%;
// }
//     nav a {
//         float: left;
//         padding: 8px 0;
//         opacity: .5;
//         width: 100%;
//         transition: .3s ease;
//         font-size: 1em;
//         text-transform: uppercase;
//         font-weight: bold;
//         line-height: 1.85em;
//     }
//         nav a:hover, .current, .toggle .navBtn {
//             opacity: 1;
//         }

//     .toggle nav {
//         padding-left: 60px;
//         opacity: 1;
//     }

// .navBtn {
//     font-size: 2em;
//     font-weight: 700;
//     margin: 30px 0 0;
//     width: 100%;
//     text-align: center;
//     line-height: 1em;
//     -webkit-transform:rotate(0deg);
//     transition: .3s ease-out;
//     display: block;
//     cursor: pointer;
//     position: absolute;
//     z-index: 1000001;
//     opacity: .5;
//     left: 0;
// }

//     .toggle .navBtn{
//         -webkit-transform:rotate(224deg); 
//         color: #fff;
//         left: -100px;
//     }

// .navBtn:hover {
//     opacity: 1;
// }

// .main {
//     background: #f6f6f6;
//     float: right;
//     width: 95%;
//     margin: 0 0 0 5%;
//     padding: 0;
//     transition: .6s ease-in;
//     overflow: hidden;
//     z-index: 2;
// }

// h3 {
//   font-size: 3em;
//   color: #EAC734;
//   font-weight: 300;
//   transition: .6s ease-in;
//   line-height: 1em;
// }

// article {
//   padding: 40px 10%;
// }

// .push {
//     margin-left: 240px;
//     margin-right: -240px;
//     transition: .3s ease-in;
// }

.toggle-overlay {
    background:black;
    opacity:0;
    z-index: 1;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    @include transition(opacity 0.3s ease-in-out);

    // display:none;
    &.block {
      display:block;
      opacity:0.5;
    }
}