//////////////////
//////////////////
////  //      ////
////  ////////////
////  //      ////
////  ////////////
////          ////
//////////////////
//////////////////

// Copyright Liquid Engine Ltd - https://liquidengine.com 


////////////////////////////////////////////////////////////////////////////////////////////////
//// COLOUR ////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

$black:												#333;
$gray-dark:                 	#373a3c !default;
$gray:                      	#55595c !default;
$gray-light:                	#818a91 !default;
$gray-lighter:              	#eceeef !default;
$gray-lightest:             	#f7f7f9 !default;
$color-primary:     					#4dc6d5;
$color-secondary:    					#4dc6d5;
$alert-yellow:      					#ebe16f;
$alert-red:         					#fbe3e4;
$alert-green:       					#e6efc2;
$alert-blue:        					#d5edf8;


/////////////////////////////////////////////////////////////////////////////////////////////////
//// GENERAL ////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

$body-bg:                    	#fff !default;
$body-color:                  $gray-dark !default;
$font-size-root: 	            16px !default;
$line-height:                	1.5 !default;
$border-width:               	1px !default;
$spacer:											1rem;

///////////////////////////////////////////////////////////////////////////////////////////////
//// FONTS ////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////

$font-size-base: 	            1rem !default;
$font-family-base: 						'Open Sans', sans-serif;
$font-family-sans-serif:     	"Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:          	Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      	Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-h1:               	2.5rem !default;
$font-size-h2:               	2rem !default;
$font-size-h3:               	1.75rem !default;
$font-size-h4:               	1.5rem !default;
$font-size-h5:               	1.25rem !default;
$font-size-h6:               	1rem !default;

$font-color:									$body-color;
$font-heading-color:					$font-color;

$hr-border-color:             rgba(0,0,0,.1) !default;
$hr-border-width:             $border-width !default;

$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     $gray-lighter !default;


///////////////////////////////////////////////////////////////////////////////////////////////
//// LINKS ////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////

$link-color:                 	$color-primary !default;
$link-color-hover:           	darken($link-color, 15%) !default;
$link-decoration:            	none !default;
$link-decoration-hover:      	underline !default;


////////////////////////////////////////////////////////////////////////////////////////////////
//// TABLES ////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

$table-cell-padding:          .75rem !default;
$table-sm-cell-padding:       .3rem !default;

$table-bg:                    transparent !default;
$table-bg-accent:             #f9f9f9 !default;
$table-bg-hover:              #f5f5f5 !default;
$table-bg-active:             $table-bg-hover !default;

$table-border-color:          $gray-lighter !default;



